*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# Environment variables
.env

# CDK asset staging directory
.cdk.staging
cdk.out

*.pdf
upload_to_s3.py
# Frontend
lite.frontend.web/node_modules/
lite.frontend.web/build/
lite.frontend.web/.env
